* {
	padding: 0;
	margin: 0;}

body {
     background: url(../img/Portada.jpg) no-repeat top center;
	font-family: arial, helvetica, sans-serif;
	background-color: #c56b0b;
}

#contenedor {
	width: 1080px;
	margin: 50px auto;

}
 
#cabecera {
	position: relative;
	padding-top: 15px;

}

#menu {
	width: 75%;
	float: left;
	text-align: left;
	padding-top: 1px;
	padding-right: 15px;
}

#menu ul {
	list-style-type: none;
}
#menu ul li {
	display: inline-block;
}
#menu ul li a {
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	font-size: 14px
}
 #menu ul li a:hover, #menu ul li a.activo:hover {
 	border-bottom: 2px solid white;
 }

 /* Estilos de la pagina 2 */

  #principal, #footer {
  	padding: 30px 0;
  	margin-top: 550px;
  }

  #principal img {
  	width: 50%;
  	float: right;
  	margin-left: 50px;
  	margin-top: 90px;
  }

  #principal h1 {
  	margin-bottom: 50px;
  }

  #principal p {
  	font-size: 17px;
  	letter-spacing: 1.5px;
  	line-height: 1.5;
  }

  #footer {
  	color: white;
  	background: black;
  	text-align: center;
  	position: relative;
  	clear: both;
  }

  #conteneedor {
	width: 1450px;
	margin: 200px;
	border: 1px solid white;}

#footer img {
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top:-25px;
}

